body {
  background-color: #008299;/* #4390DF;*/
  font-family: Tahoma;
  font-size: 16px;
}
a, a:hover, a:visited {
  color: white;
  text-decoration: none;
}

.widgets {
  display: inline-block;
  max-width: 424px;
}
.widget {
  border: 1px solid transparent;
  display: inline-block;
  margin: 0 2px 2px 0;
  min-height: 50px;
  padding: 4px;
  vertical-align: top;
}
.widget-1cell {
  width: 200px;
}
.widget-2cell {
  width: 412px;
}
.widget-title {
  text-align: center;
}